.contact {
  background: #f4ecde;
  // padding: 0 40px;
}

.contact__relative {
  position: relative;
}

.contact__decoration {
  position: absolute;
  right: 10px;
  top: -34px;
  width: 150px;
  height: auto;
}

@media (min-width: 768px) {
  .contact__decoration {
    position: absolute;
    top: -40px;
    width: 170px;
    height: auto;
  }
}


