.footer {
  background: #f4ecde;
}

.footer__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  border-bottom: 5px solid $red;
  margin-bottom: 50px;
}

.footer__title {
  font-size: 32px;
  color: #80392b;
  border-left: 5px solid $red;
  height: 100px;
  padding-top: 35px;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 16px;
}

.footer__flex {
  display: flex;
}

.footer__list {
  width: 33.3%;
}


.footer__item {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px;
  padding: 10px 15px;
}

.footer__item_title {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  line-height: 14px;
}

.footer__item_txt {
  margin: 0;
  margin-bottom: 10px;
}

.footer__item_dsc {
  margin: 0;
}

.footer__img {
  width: 40px;
  height: auto;
}

