.header {
  background: url("../img/bg.png") no-repeat center center;
  background-color: #caa68d;
  background-size: cover;
  padding: 50px 50px 0;
  margin-bottom: 30px;
}

.header__text {
  margin: 0;
  font-size: 52px;
  color: $red;
}

.header__logo {
  max-width: 135px;
  height: auto;
  margin-right: 30px;
}

.header__greet {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}

.header__wrapper {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: -15px;
  display: flex;
  padding-bottom: 25px;
  align-items: baseline;
  justify-content: space-around;

  & div:nth-child(1) {
    margin-right: 20px;
    max-width: 230px;
    height: auto;
  }

  & div:nth-child(2) {
    margin-right: 20px;
    max-width: 490px;
    height: auto;
  }

  & div:nth-child(3) {
    max-width: 260px;
    height: auto;
  }
}

@media (min-width: $mobileL) {
  .header {
    padding: 20px 20px 0;
  }

  .header__text {
    font-size: 18px;
  }

  .header__logo {
    max-width: 55px;
    margin-right: 10px;
  }

  .header__wrapper {

    margin-top: 0;
  }

  .main-nav {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding: 30px 30px 0;
  }

  .header__text {
    font-size: 28px;
  }

  .header__logo {
    max-width: 80px;
    margin-right: 20px;
  }

  .header__wrapper {
    margin-top: 0;
  }

  .main-nav__popup-item {
    font-size: 18px;
}
}



