.header {
  background: url("../img/bg.png") no-repeat center center;
  background-color: #caa68d;
  background-size: cover;
  padding: 20px 0;
}

.header__text {
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: $red;
}

.header__logo {
  width: 80px;
  height: auto;
  // margin-right: 30px;
}

.header__cup {
  display: none;
}

.header__samovar {
  display: none;
}


@media (min-width: 768px) {
  .header {
    padding: 30px 0;
  }

  .header__text {
    font-size: 36px;
    text-align: start;
  }

  .header__cup {
    display: block;
  }

  .header__samovar {
    display: block;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 40px 0;
  }

  .header__text {
    font-size: 48px;
    text-align: start;
  }
 }
