.main-nav {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1100px;
  padding-right: 70px;
}

.main-nav__popup {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.main-nav__popup-item {
  font-size: 32px;
}

.main-nav__popup-link {
  color: $red;

  &:hover {
    opacity: 0.5;
  }
}
