.product {
  background-image: url(../img/bg2.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center top;
}

.product__item {
  padding: 20px;

  &:hover {
    border-radius: 25px;
    background-color: rgba(243, 235, 221, 0.6);
  }
}

.product-text {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.product__btn {
  background: #c9383a;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
}

.product__price {
  font-size: 18px;
  line-height: 20px;
  color: white;
  border: none;
  background: none;
}

@media (min-width: 768px) {
  .product__list {
    & div:last-child {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .product__item {
    padding: 40px;
  }

  .product__list {
    & div:last-child {
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  .product__item {
    padding: 60px;
  }
}
