<footer class="contact" id="contact">
  <div class="container contact__relative">
    <h2 class="title">Контакты</h2>

    <div class="row mt-4 pb-4">
      <!-- <div class="col-4 contact__decoration">
          <img
            src="img/decoration.png"
            alt="Ветка"
            width="387"
            height="257"
          />
        </div> -->

      <div class="col-10 offset-1 col-sm-6 offset-sm-0 offset-md-1 col-md-5">
        <div class="row">
          <div class="col-2 col-sm-3 col-lg-2">
            <img src="img/location.svg" alt="Адрес" width="100" height="100" />
          </div>

          <div class="col-10 col-sm-9">
            <div class="row">
              <h4 class="col-10">Адрес:</h4>
              <p class="col-10">610010 Киров, Россия</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-10 offset-1 col-sm-6 offset-sm-0 offset-md-1 col-md-5">
        <div class="row">
          <div class="col-2 col-sm-3 col-lg-2">
            <img src="img/clock.svg" alt="Время" width="100" height="100" />
          </div>

          <div class="col-10 col-sm-9">
            <div class="row">
              <h4 class="col-10">Рабочее время:</h4>
              <p class="col-10">c 9:00 до 20:00 по МСК</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-10 offset-1 col-sm-6 offset-sm-0 offset-md-1 col-md-5">
        <div class="row">
          <div class="col-2 col-sm-3 col-lg-2">
            <img src="img/mail.svg" alt="Почта" width="100" height="100" />
          </div>
          <div class="col-10 col-sm-9">
            <h4>Почта:</h4>
            <p><a href="mailto:chaga@chagarussia.ru">chaga@chagarussia.ru</a></p>
          </div>
        </div>
      </div>

      <div class="col-10 offset-1 col-sm-6 offset-sm-0 offset-md-1 col-md-5">
        <div class="row">
          <div class="col-2 col-sm-3 col-lg-2">
            <img src="img/skype.svg" alt="Скайп" width="100" height="100" />
          </div>
          <div class="col-10 col-sm-9">
            <h4>Скайп:</h4>
            <p><a href="skype:atlantida201313?call">atlantida201313</a></p>
          </div>
        </div>
      </div>

      <div class="col-10 offset-1 col-sm-6 offset-sm-0 offset-md-1 col-md-5">
        <div class="row">
          <div class="col-2 col-sm-3 col-lg-2">
            <img src="img/phone.svg" alt="Телефон" width="100" height="100" />
          </div>
          <div class="col-10 col-sm-9">
            <h4>Телефон:</h4>
            <p>
              <a href="tel:89091393226">+7 (909) 139-32-26</a> Алексей Геннадьевич
              <br />
              <a href="tel:89513475548">+7 (951) 347-55-48</a> Наталья Николаевна
            </p>
          </div>
        </div>
      </div>

      <div class="col-10 offset-1 col-sm-6 offset-sm-0 offset-md-1 col-md-5">
        <div class="row">
          <div class="col-2 col-sm-3"></div>
          <div class="col-10 col-sm-9"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
