<header>
  <div class="header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4 col-md-2 header__logo">
          <img src="img/logo.svg" alt="Лого" width="150" height="100" />
        </div>
        <h1 class="col-12 col-md-8 header__text">Чайные напитки из чаги</h1>
      </div>
      <div class="row justify-content-center align-items-end mt-4">
        <div class="col-md-2 offset-md-1">
          <div class="header__cup">
            <img src="img/cup.png" alt="Чашка" width="230" height="435" />
          </div>
        </div>
        <div class="col-8 col-md-5">
          <div class="header__packages">
            <img
              src="img/header_packages.png"
              alt="Чага"
              width="490"
              height="436"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="header__samovar">
            <img
              src="img/samovar.png"
              alt="Самовар"
              width="260"
              height="435"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="main-nav mt-3">
      <ul class="row justify-content-around main-list">
        <li class="col-3 main-nav__item">
          <a class="main-nav__popup-link" href="#product">Напитки</a>
        </li>
        <li class="col-3 main-nav__item">
          <a class="main-nav__popup-link" href="#about">О чаге</a>
        </li>
        <li class="col-3 main-nav__item">
          <a class="main-nav__popup-link" href="#production">Производство</a>
        </li>
        <li class="col-3 main-nav__item">
          <a class="main-nav__popup-link" href="#contact">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
