<!-- Чага с листом смородины-->
<div class="modal fade" id="smorodina" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Модальное окно заголовок -->
      <div class="modal-header">
        <h2 class="modal-title " id="myModalLabel">Чага с листом смородины</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Модальное окно содержание -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <img class="lazy" data-src="img/products/smorodina.png" alt="Чага с листом смородины" width="290" height="425"/>
            </div>
            <p class="col-8">Чага с листом смородины. Польза смородиновых листьев для организма человека весьма значительна из-за существенного содержания фитонцидов, эфирных масел, витаминов и минеральных веществ. Благодаря большому содержанию в составе витамина С, пользу приносят листья смородины от кашля. Листья красной смородины, польза которых объясняются химическим составом, помогут легче перенести сезонные простуды и защитят от вирусов.</p>

          </div>
        </div>
      </div>
      <!-- Форма обратной связи -->
      <div class="form">
        <div class="container">
          <h3 class="form-header">Интересует сотрудничество?</h3>
          <form class="form" action="mail.php" method="POST">
            <div class="row justify-content-center">
              <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
              <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Чага с чабрецом-->
<div class="modal fade" id="chabrets" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Модальное окно заголовок -->
      <div class="modal-header">
        <h2 class="modal-title " id="myModalLabel">Чага с чабрецом</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Модальное окно содержание -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <img class="lazy" data-src="img/products/chabrets.png" alt="Чага с чабрецом" width="290" height="425" />
            </div>
            <p class="col-8">Чабрец обладает антисептическими, противовоспалительными, противомикробными, бронхорасширяющими свойствами и является отличным лекарственным средством для лечения заболеваний дыхательных путей – трахеита и бронхита, коклюша, пневмонии и туберкулёза. Чабрец благотворно влияет на микрофлору кишечника. Чай с добавлением тимьяна пьют для улучшения пищеварения и повышения аппетита.</p>
          </div>
        </div>
      </div>
      <!-- Форма обратной связи -->
      <div class="form">
        <div class="container">
          <h3 class="form-header">Интересует сотрудничество?</h3>
          <form class="form" action="mail.php" method="POST">
            <div class="row justify-content-center">
              <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
              <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Чага с облепихой-->
<div class="modal fade" id="oblepikha" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с облепихой</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/oblepikha.png" alt="Чага с облепихой" width="290" height="425" />
              </div>
              <p class="col-8">Чага с облепихой. Ценным ее свойством является восстановление сил больного человека, повышение гемоглобина и укрепление ослабленного организма. Сок и отвар листьев облепихи применяется при промывании разнообразных ран для быстрого заживления и ускорения регенерационных процессов кожи. Облепиха обладает антисклеротическими, антиоксидантными, бактерицидными, болеутоляющими свойствами.</p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
                <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага с шиповником-->
<div class="modal fade" id="shipovnik" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с шиповником</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/shipovnik.png" alt="Чага с шиповником" width="290" height="425" />
              </div>
              <p class="col-8">Плоды шиповника применяются народной медициной как тонизирующее, иммуностимулирующее, общеукрепляющее, противовоспалительное, желчегонное, мочегонное средство; они укрепляют стенки капилляров, усиливают регенерацию тканей, благотворно влияют на обмен веществ. Настои и отвары плодов применяют для профилактики и лечения авитаминозов, простудных заболеваний и гриппа; при общей ослабленности организма и для ускорения восстановления после болезни; для профилактики атеросклероза и при его лечении, а также при заболеваниях желудочно-кишечного тракта, суставов, кожи.</p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
                <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага с листом малины-->
<div class="modal fade" id="malina" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с листом малины</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/malina.png" alt="Чага с листом малины" width="290" height="425" />
              </div>
              <p class="col-8">Листья малины – одни из самых безопасных и эффективных средств лечения простуды, гриппа и могут применяться для лечения детей, беременных и кормящих женщин, а также для укрепления иммунитета у ослабленных болезнью людей. Кроме обычных простудных заболеваний листья малины применяют для лечения и более серьезных болезней, начиная от гинекологических и заканчивая отравлениями. Полезные свойства листьев малины объясняются их химическим составом. В них содержится большое количество витамина С.</p>

            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
                <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага с лимоном-->
<div class="modal fade" id="limon" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с лимоном</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/limon.png" alt="Чага с лимоном" width="290" height="425" />
              </div>
              <p class="col-8">Благодаря своему составу, этот чудесный цитрусовый плод имеет колоссальное влияние на состояние здоровья человека. Отличный иммуномодулятор. Помогает иммунной системе поддерживать отличное самочувствие, вступает в борьбу с заболеваниями вирусного и простудного происхождения. Защищает организм от гриппа, ОРВИ, ОРЗ. Помогает сердцу, укрепляет сосуды, делая их более эластичными. Благодаря цитрусу восстанавливается нормальное кровяное давление, снижается до положенных границ.
              </p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
                <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага с мятой-->
<div class="modal fade" id="myata" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с мятой</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/myata.png" alt="Чага с мятой" width="290" height="425" />
              </div>
              <p class="col-8">Чай на основе мяты обладает успокаивающим действием, хорошо утоляет жажду и помогает восстановить силы после физических и умственных нагрузок. Список лечебных свойств растения поражает разнообразием и всесторонностью воздействия: обладает антиоксидантной активностью; успокаивает нервную систему; утоляет боль; способствует оттоку желчи; выводит лишнюю воду из организма, снимает отеки; оказывает тонизирующее и общеукрепляющее действие на организм.</p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
                <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага с имбирем-->
<div class="modal fade" id="imbir" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с имбирем</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/imbir.png" alt="Чага с имбирем" width="290" height="425" />
              </div>
              <p class="col-8">Польза имбиря для женщин выявлена при приеме корня в качестве успокоительного средства, рекомендуется в период менструальных болей. Готовят имбирный чай во время беременности для снятия симптомов токсикоза. Рекомендуется употреблять имбирь при бесплодии, он помогает избавиться от хронического воспаления, спаек. Имбирем лечится миома, нормализуется гормональный фон. Имбирь при климаксе смягчает симптомы, избавляет от головных болей и раздражительности.</p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
  <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага с душицой-->
<div class="modal fade" id="oregano" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с душицой</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/oregano.png" alt="Чага с душицой" width="290" height="425" />
              </div>
              <p class="col-8">Чага с душицей. Обогащенная эфирными маслами и дубильными веществами и другими не менее ценными элементами душица обладает лечебными свойствами: мочегонное, противовоспалительное, успокаивающее, болеутоляющее, потогонное, кровоостанавливающее, тонизирующее, отхаркивающее, желчегонное.</br>
              Душица способна снизить зубные боли и устранить воспалительный процесс десен. Также трава хорошо помогает при метеоризмах. Препаратами на основе душицы лечат эпилепсию. Растение обновляет жировую клетчатку кожи и устраняет целлюлит</p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
                <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага со зверобоем-->
<div class="modal fade" id="zveroboy" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага со зверобоем</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/zveroboy.png" alt="Чага со зверобоем" width="290" height="425" />
              </div>
              <p class="col-8">Полезные свойства зверобоя обусловлены его химическим составом: флавоновые соединения (кверцетин, рутин и др), оказывают антиоксидантное и омолаживающее действие, витамины: никотиновая и аскорбиновая кислота, необходимы для нормальной работы сердца, нервной и иммунной системы. Витамин С защищает от злокачественного перерождения клеток, сапонины – усиливают секрецию желез, оказывают диуретическое и гипохолестеринемическое действие. Также в растении присутствует эфирное масло, смолистые вещества и горечи.</p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
  <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага с иван-чаем-->
<div class="modal fade" id="ivan_chay" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с иван-чаем</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/ivan_chay.png" alt="Чага с иван-чаем" width="290" height="425" />
              </div>
              <p class="col-8">Польза иван-чая обусловлена противомикробными, антипролиферативными и антиоксидантными свойствами. Экстракт из листьев снижает концентрацию вируса герпеса и останавливает его размножение. Иван-чай обладает гемостатическим эффектом, поэтому его используют для быстрой остановки крови.Растение повышает свертываемость крови. Напиток из иван-чая успокаивает, уменьшает беспокойство и депрессию.</p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
                <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Чага с рябиной-->
<div class="modal fade" id="ryabina" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Модальное окно заголовок -->
        <div class="modal-header">
          <h2 class="modal-title " id="myModalLabel">Чага с рябиной</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Модальное окно содержание -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img class="lazy" data-src="img/products/ryabina.png" alt="Чага с рябиной" width="290" height="425" />
              </div>
              <p class="col-8">Рябина – это природный кладезь витаминов. Особенно она богата витамином С, которого в ягодах гораздо больше, чем в лимонах. Поэтому при простудных заболеваниях рябиновый чай будет очень полезен. Кроме того, никакое фармацевтическое средство не вылечит авитаминоз так, как это сделает рябина. Красная рябина отлично стимулирует работу сердечно-сосудистой системы. Такие органы, как печень и желудок, ежедневно подвергаются воздействию вредных факторов. Лечебные свойства рябины защищают их от негативного влияния.</p>
            </div>
          </div>
        </div>
        <!-- Форма обратной связи -->
        <div class="form">
          <div class="container">
            <h3 class="form-header">Интересует сотрудничество?</h3>
            <form class="form" action="mail.php" method="POST">
              <div class="row justify-content-center">
                <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="user_phone" placeholder="+7 (999) 99-99-999" required></div>
                <div class="col-8 col-md-5 col-lg-4"><button class="form__btn" type="submit" >Обратный звонок</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
