<!-- large modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Модальное окно заголовок -->
      <div class="modal-header">
        <h2 class="modal-title " id="myModalLabel">Чага с листом смородины</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Модальное окно содержание -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <img src="img/products/smorodina.png" alt="Чага с листом смородины" width="290" height="425"/>
            </div>
            <p class="col-8">Чага с листом смородины. Польза смородиновых листьев для организма человека весьма значительна из-за существенного содержания фитонцидов, эфирных масел, витаминов и минеральных веществ. Благодаря большому содержанию в составе витамина С, пользу приносят листья смородины от кашля. Воспалительные процессы в дыхательных путях очень опасно для здоровья, так как обычная простуда может вызвать серьезное заболевание. Поэтому бороться с недомоганием нужно с первых симптомов, пользуясь по большей части народными методами. Листья красной смородины, польза которых объясняются химическим составом, помогут легче перенести сезонные простуды и защитят от вирусов. При назначении доктором антибиотика, стоит пить его вместе с чаем на основе этого растения для правильного действия препарата. Используют листья смородины при гастрите, панкреатите и других проблемах, связанных с ЖКТ, из-за большого количества полезных свойств.</p>
          </div>
        </div>
      </div>
      <!-- Форма обратной связи -->
      <div class="form">
        <div class="container">
          <h3 class="form-header">Интересует сотрудничество?</h3>
          <form class="form">
            <div class="row justify-content-center">
              <div class="col-8 col-md-5 mb-3"><input class="form__input" id="phone" type="tel" name="Телефон" placeholder="+7 (999) 99-99-999" required></div>
              <div class="col-8 col-md-4"><button class="form__btn" type="submit" >Свяжитесь с нами</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
