<div class="product">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-around product__list">
      <div class="col-5 col-md-3 product__item">
        <div class="product__img">
          <a href="#" class="" data-toggle="modal" data-target="#largeModal">
            <img src="img/products/smorodina.png" alt="Чага с листом смородины" width="290" height="425"/>
          </a>
        </div>
        <h3 class="product-text">Чага с листом смородины</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/chabrets.png"
            alt="Чага с чабрецом"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с чабрецом</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/shipovnik.png"
            alt="Чага с шиповником"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с шиповником</h3>
      </div>

      <div class="col-5 col-md-3 product__item">
        <div class="product__img">
          <img
            src="img/products/oblepikha.png"
            alt="Чага с облепихой"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с облепихой</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/malina.png"
            alt="Чага с листом малины"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с листом малины"</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/limon.png"
            alt="Чага с лимоном"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с лимоном</h3>
      </div>

      <div class="col-5 col-md-3 product__item">
        <div class="product__img">
          <img
            src="img/products/myata.png"
            alt="Чага с мятой"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с мятой</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/imbir.png"
            alt="Чага с имбирем"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с имбирем</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/oregano.png"
            alt="Чага с душицой"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с душицой</h3>
      </div>

      <div class="col-5 col-md-3 product__item">
        <div class="product__img">
          <img
            src="img/products/zveroboy.png"
            alt="Чага со зверобоем"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага со зверобоем</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/ivan_chay.png"
            alt="Чага с иван-чаем"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с иван-чаем</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/ryabina.png"
            alt="Чага с рябиной"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага с рябиной</h3>
      </div>

      <div class="col-5 col-md-3 product__item">
        <div class="product__img">
          <img
            src="img/products/ivan_chay_granul.png"
            alt="Иван-чай гранулированный"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Иван-чай гранулированный</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/ivan_chay_shipovnik.png"
            alt="Иван-чай с шиповником"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Иван-чай с шиповником</h3>
      </div>

      <div class="col-5 offset-md-1 col-md-3 offset-lg-0 product__item">
        <div class="product__img">
          <img
            src="img/products/chaga_crushed.png"
            alt="Чага дробленая"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага дробленая</h3>
      </div>

      <div class="col-5 col-md-3 product__item">
        <div class="product__img">
          <img
            src="img/products/chaga_dry.png"
            alt="Чага сухой порошок"
            width="290"
            height="425"
          />
        </div>
        <h3 class="product-text">Чага сухой порошок</h3>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-6 col-md-5 col-lg-4 col-xl-3 product__btn">
        <a href="#" class="product__price">
          Скачать полный прайс лист
        </a>
      </div>
    </div>
  </div>
</div>
