<section class="container pb-3 mb-4 production" id="production">
  <h2 class="title">Наше производство</h2>
  <div class="row justify-content-center">
    <p class="col-10">
      Мы продаем чагу собственного производства. Всегда свежий сбор.
      Влажность 12-14%. Сушка по государственному стандарту, химический
      анализ. Продукция соответствует установленным нормам
      СТО-0128618019-001-2018. У нашей продукции есть вся необходимая
      сопроводительная документация. Работаем без посредников. Цены от
      производителя.
    </p>
  </div>
  <!-- Слайдер -->
  <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__item">
        <div class="slider__img">
          <img  src="img/production/powder.jpg" alt="Чага сухая" width="290" height="425" />
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__img">
          <img  src="img/production/crush.jpg" alt="Чага дробленая" width="290" height="425" />
        </div>
      </div>

      <div class="slider__item">
        <div class="slider__img">
            <img  src="img/production/metering.jpg" alt="Чага измерение" width="290" height="425" />
          </div>
      </div>
      <div class="slider__item">
        <div class="slider__img">
            <img  src="img/production/sample.jpg" alt="Чага образец" width="290" height="425" />
          </div>
      </div>
      <div class="slider__item">
        <div class="slider__img">
            <img  src="img/production/done.jpg" alt="Чага" width="290" height="425" />
          </div>
      </div>
      <div class="slider__item">
          <div class="slider__img">
              <img  src="img/production/dry.jpg" alt="Чага сушка" width="290" height="425" />
            </div>
        </div>
        <div class="slider__item">
          <div class="slider__img">
              <img  src="img/production/fan.jpg" alt="Чага вентилятор" width="290" height="425" />
            </div>
        </div>
    </div>
    <a class="slider__control slider__control_left" href="#" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
  </div>
</section>
