body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Izhitsa", "Arial", sans-serif;
  font-style: normal;
}

$red: #80392b;

img {
  width: 100%;
  height: auto;
}

h3 {
  font-size: 24px;
  color: $red;
  margin-top: 0;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 32px;
  color: #80392b;
  border-left: 5px solid $red;
  height: 100px;
  padding-top: 35px;
  padding-left: 20px;
  box-sizing: border-box;
}

.outline {
  border: 1px solid red;
}
