body {
  min-width: 320px;
  // max-width: 1400px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-family: "Muller", "Arial", sans-serif;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

$red: #80392b;
