@font-face {
  font-family: "Izhitsa";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Izhitsa.woff") format("woff");
  src: url("../fonts/Izhitsa.woff2") format("woff2");
}

@font-face {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tahoma.woff") format("woff");
  src: url("../fonts/Tahoma.woff2") format("woff2");
}
